@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,700&display=swap');
:root {
      overscroll-behavior: none;
    }

    body {
  margin: 0;
  font-family: 'Roboto Flex', sans-serif;
  background-color: rgb(215, 215, 215);
  display: flex;
  flex-direction: column; 
  min-height: 100vh;
  overflow-x: hidden;
      overscroll-behavior-y: none;
    }

    .photos {
    background: 215, 215, 215; 
}
.photos {
    width: 100%;
    height: 100%;           
    overflow: hidden;        
    position: relative;
    display: grid;
}

.photos img {
    width: 100%;
    height: 100%;
    object-fit: cover;       
    flex-shrink: 0;
}

.photos {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.photos img {
    scroll-snap-align: center;
    width: 100%;
    height: 50vh;
    object-fit: cover;
}